body {
    font-family: 'Noto Sans', sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

.box-shadow {
    width: 943px;
    height: 143px;
    position: absolute;
    left: 385px;
    top: 477px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.10);
    border-radius: 15px;
    border: 1px solid #5495A5;
}

.small-box, .button {
    width: 114px;
    height: 33px;
    position: absolute;
    border-radius: 5px;
    border: 1px solid #5495A5;
}

.small-box {
    left: 420px;
    top: 540px;
    width: 626px;
}

.button {
    left: 1066px;
    top: 540px;
}

nav {
    position: absolute;
    top: 18px;
    left: 210px;
}

nav a {
    text-decoration: none;
    color: #5495A5;
    font-size: 13px;
    font-weight: 700;
    margin-right: 20px;
}

h1 {
    position: absolute;
    top: 378px;
    left: 484px;
    text-align: center;
    color: black;
    font-size: 36px;
    font-weight: 700;
}

.ad-banner, .recent-searches, .inspiration, .address, .partners {
    position: absolute;
    color: black;
    font-size: 12px;
    font-weight: 500;
}

.ad-banner {
    left: 1531px;
    top: 798px;
}

.recent-searches {
    left: 385px;
    top: 646px;
}

.inspiration {
    left: 385px;
    top: 1338px;
}

.address {
    left: 397px;
    top: 1369px;
}

.partners {
    left: 385px;
    top: 2125px;
}

.recent-search-box {
    position: absolute;
    left: 632px;
    top: 662px;
}

.recent-search-item {
    color: black;
    font-size: 12px;
    font-weight: 500;
}

.line {
    position: absolute;
    width: 943px;
    height: 0px;
    border: 1px solid #5495A5;
}

.logo {
    width: 153px;
    height: 40px;
    position: absolute;
    left: 11px;
    top: 6px;
}

.house-image {
    width: 1728px;
    height: 250px;
    position: absolute;
    left: 0px;
    top: 51px;
}

.ad-banner-image {
    width: 187px;
    height: 600px;
    position: absolute;
    left: 1472px;
    top: 477px;
}

.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,50,0.8),rgba(0,0,50,0.8)), url(renzlogo.png);
    background-position: center;
    background-size: cover;
    position: relative;
}