<!DOCTYPE html>
<html lang="en">
<head>
    <title>Main Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}RENZ{% endblock %}</title>
    <link rel="stylesheet" type="text/css"
    href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<!--This is the main Serach bar Functionalities-->
<!--Used for buy,rent, valuation, search and filter-->    
<div style="width: 100%; height: 100%; position: relative;">
    <div style="width: 943px; height: 143px; left: 385px; top: 477px; position: absolute; box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.10); border-radius: 15px; border: 1px #5495A5 solid"></div>
<div style="width: 626px; height: 33px; left: 420px; top: 540px; position: absolute; border-radius: 5px; border: 1px #5495A5 solid">
  <a href="/search" style="display: inline-block; width: 200px; height: 100%; line-height: 33px; text-align: center; color: #5495A5; text-decoration: none;">Buy</a>
  <a href="/search" style="display: inline-block; width: 200px; height: 100%; line-height: 33px; text-align: center; color: #5495A5; text-decoration: none;">Rent</a>
  <a href="/search" style="display: inline-block; width: 200px; height: 100%; line-height: 33px; text-align: center; color: #5495A5; text-decoration: none;">Valuation</a>
</div>

<div style="width: 114px; height: 33px; left: 1066px; top: 540px; position: absolute; border-radius: 5px; border: 1px #5495A5 solid">
  <a href="/search" style="display: block; width: 100%; height: 100%; line-height: 33px; text-align: center; color: #5495A5; text-decoration: none;">Filter</a>
</div>

<div style="width: 114px; height: 33px; left: 1200px; top: 540px; position: absolute; border-radius: 5px; border: 1px #5495A5 solid">
  <a href="/search" style="display: block; width: 100%; height: 100%; line-height: 33px; text-align: center; color: #5495A5; text-decoration: none;">Search</a>
</div>

    <a href="/" style="text-decoration: none;">
        <div style="left: 210px; top: 18px; position: absolute; color: #5495A5; font-size: 13px; font-family: Noto Sans; font-weight: 700; word-wrap: break-word">Residential</div>
    </a>
    <a href="/search" style="text-decoration: none;">
        <div style="left: 326px; top: 18px; position: absolute; color: #5495A5; font-size: 13px; font-family: Noto Sans; font-weight: 700; word-wrap: break-word">New Build</div>
    </a>
    <a href="/search" style="text-decoration: none;">
        <div style="left: 435px; top: 18px; position: absolute; color: #5495A5; font-size: 13px; font-family: Noto Sans; font-weight: 700; word-wrap: break-word">Rural</div>
    </a>
    <a href="/search" style="text-decoration: none;">
        <div style="left: 513px; top: 18px; position: absolute; color: #5495A5; font-size: 13px; font-family: Noto Sans; font-weight: 700; word-wrap: break-word">Commercial</div>
    </a>
    <a href="/search" style="text-decoration: none;">
        <div style="left: 634px; top: 18px; position: absolute; color: #5495A5; font-size: 13px; font-family: Noto Sans; font-weight: 700; word-wrap: break-word">Business</div>
    </a>
    <a href="/search" style="text-decoration: none;">
        <div style="left: 734px; top: 18px; position: absolute; color: #5495A5; font-size: 13px; font-family: Noto Sans; font-weight: 700; word-wrap: break-word">House Price</div>
    </a>
    <a href="/findagent" style="text-decoration: none;">
        <div style="left: 854px; top: 18px; position: absolute; color: #5495A5; font-size: 13px; font-family: Noto Sans; font-weight: 700; word-wrap: break-word">Find Agent</div>
    </a>
    <a href="/homeinspiration" style="text-decoration: none;">
        <div style="left: 968px; top: 18px; position: absolute; color: #5495A5; font-size: 13px; font-family: Noto Sans; font-weight: 700; word-wrap: break-word">Home Inspiration</div>
    </a>
    <a href="/news" style="text-decoration: none;">
        <div style="left: 1122px; top: 18px; position: absolute; color: #5495A5; font-size: 13px; font-family: Noto Sans; font-weight: 700; word-wrap: break-word">News</div>
    </a>
    <a href="/favorite" style="text-decoration: none;">
        <div style="left: 1433px; top: 18px; position: absolute; color: #5495A5; font-size: 13px; font-family: Noto Sans; font-weight: 700; word-wrap: break-word">Favorite<br/></div>
    </a>
    <a href="/myhome" style="text-decoration: none;">
        <div style="left: 1528px; top: 18px; position: absolute; color: #5495A5; font-size: 13px; font-family: Noto Sans; font-weight: 700; word-wrap: break-word">My Home</div>
    </a>
    <a href="/login_and_signup" style="text-decoration: none;">
        <div style="left: 1611px; top: 18px; position: absolute; color: #5495A5; font-size: 13px; font-family: Noto Sans; font-weight: 700; word-wrap: break-word">Log in / Sign up</div>
        
    <div style="width: 711px; height: 33px; left: 484px; top: 378px; position: absolute; text-align: center; color: black; font-size: 36px; font-family: Noto Sans; font-weight: 700; word-wrap: break-word">The Home of property</div>
    <div style="left: 1531px; top: 798px; position: absolute; color: black; font-size: 12px; font-family: Inter; font-weight: 400; word-wrap: break-word">Ad<br/>Banner</div>
    <div style="left: 385px; top: 646px; position: absolute; color: black; font-size: 12px; font-family: Noto Sans; font-weight: 600; word-wrap: break-word">Recent searches</div>

    <!--Location Box Sales-->
    <!--More Of the Recent Search Box Sale code can be displayed-->
    <!--Further Down the code-->
    <div style="width: 202px; height: 111px; left: 632px; top: 662px; position: absolute">
        <div style="width: 202px; height: 111px; left: 0px; top: 0px; position: absolute; box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.10); border-radius: 5px; border: 1px #5495A5 solid"></div>
        <div style="width: 16px; height: 16px; left: 12px; top: 85px; position: absolute">
        <img style="width: 14.67px; height: 13.33px; left: 0.67px; top: 0.67px; position: absolute" src="{{url_for ('static', filename='blueheart.png')}}">
    </div>
    
    <a href="/detail" style="text-decoration: none;">
    <div style="left: 12px; top: 9px; position: absolute; color: #00CFFF; font-size: 12px; font-family: Noto Sans; font-weight: 500; word-wrap: break-word">Karaka</div>
    <div style="left: 12px; top: 34px; position: absolute; color: #00CFFF; font-size: 12px; font-family: Noto Sans; font-weight: 500; word-wrap: break-word">Residentioal - Sale</div>
    </a>
    </div>
    </div>

    

    <div style="left: 385px; top: 814px; position: absolute; color: black; font-size: 16px; font-family: Noto Sans; font-weight: 500; word-wrap: break-word">For Sale</div>
    <div style="left: 385px; top: 1072px; position: absolute; color: black; font-size: 16px; font-family: Noto Sans; font-weight: 500; word-wrap: break-word">For Rent</div>
    <div style="width: 943px; height: 0px; left: 385px; top: 790px; position: absolute; border: 1px #5495A5 solid"></div>
    <div style="width: 943px; height: 0px; left: 385px; top: 1050px; position: absolute; border: 1px #5495A5 solid"></div>
    <div style="width: 943px; height: 0px; left: 385px; top: 1848px; position: absolute; border: 1px #5495A5 solid"></div>
    <div style="width: 943px; height: 0px; left: 385px; top: 2102px; position: absolute; border: 1px #5495A5 solid"></div>
    <div style="width: 943px; height: 0px; left: 385px; top: 2166px; position: absolute; border: 1px #5495A5 solid"></div>
    <div style="width: 24px; height: 24px; left: 347px; top: 908px; position: absolute"></div>

    

    <div style="left: 385px; top: 1338px; position: absolute; color: black; font-size: 16px; font-family: Noto Sans; font-weight: 500; word-wrap: break-word">Need some inspiration?</div>
    <div style="left: 385px; top: 1622px; position: absolute; color: #3B6974; font-size: 14px; font-family: Noto Sans; font-weight: 700; word-wrap: break-word">Bedrooms inspiration</div>
    <div style="left: 632px; top: 1622px; position: absolute; color: #3B6974; font-size: 14px; font-family: Noto Sans; font-weight: 700; word-wrap: break-word">Kitchens inspiration</div>
    <div style="left: 880px; top: 1622px; position: absolute; color: #3B6974; font-size: 14px; font-family: Noto Sans; font-weight: 700; word-wrap: break-word">Livingrooms inspiration</div>
    <div style="left: 1126px; top: 1622px; position: absolute; color: #3B6974; font-size: 14px; font-family: Noto Sans; font-weight: 700; word-wrap: break-word">Home Office inspiration</div>
    <div style="left: 397px; top: 1369px; position: absolute; color: black; font-size: 12px; font-family: Noto Sans; font-weight: 500; word-wrap: break-word">Address</div>
    <div style="width: 943px; height: 0px; left: 385px; top: 1305px; position: absolute; border: 1px #5495A5 solid"></div>
    <div style="width: 24px; height: 24px; left: 347px; top: 1480px; position: absolute">
    
    </div>


    <a href="/search" style="text-decoration: none;">
    <!--North Island Listings-->
    <div style="width: 942px; height: 208px; left: 385px; top: 1871px; position: absolute">
    <div style="left: 0px; top: 0px; position: absolute; color: #3B6974; font-size: 13px; font-family: Noto Sans; font-weight: 700; word-wrap: break-word">North Island listings</div>
    <div style="left: 0px; top: 41px; position: absolute; color: #5495A5; font-size: 11px; font-family: Noto Sans; font-weight: 700; word-wrap: break-word">Auckland</div>
    <div style="left: 0px; top: 79px; position: absolute; color: #5495A5; font-size: 11px; font-family: Noto Sans; font-weight: 700; word-wrap: break-word">Hamilton</div>
    <div style="left: 0px; top: 117px; position: absolute; color: #5495A5; font-size: 11px; font-family: Noto Sans; font-weight: 700; word-wrap: break-word">Tauranga</div>
    <div style="left: 0px; top: 155px; position: absolute; color: #5495A5; font-size: 11px; font-family: Noto Sans; font-weight: 700; word-wrap: break-word">Taupo</div>
    <div style="left: 0px; top: 193px; position: absolute; color: #5495A5; font-size: 11px; font-family: Noto Sans; font-weight: 700; word-wrap: break-word">Wellington</div>

    <!--South Island Listings-->
    <div style="left: 280px; top: 0px; position: absolute; color: #3B6974; font-size: 13px; font-family: Noto Sans; font-weight: 700; word-wrap: break-word">South Island listings</div>
    <div style="left: 280px; top: 41px; position: absolute; color: #5495A5; font-size: 11px; font-family: Noto Sans; font-weight: 700; word-wrap: break-word">Nelson</div>
    <div style="left: 280px; top: 79px; position: absolute; color: #5495A5; font-size: 11px; font-family: Noto Sans; font-weight: 700; word-wrap: break-word">Blenheim</div>
    <div style="left: 280px; top: 117px; position: absolute; color: #5495A5; font-size: 11px; font-family: Noto Sans; font-weight: 700; word-wrap: break-word">Christchurch</div>
    <div style="left: 280px; top: 155px; position: absolute; color: #5495A5; font-size: 11px; font-family: Noto Sans; font-weight: 700; word-wrap: break-word">Wanaka</div>
    <div style="left: 280px; top: 193px; position: absolute; color: #5495A5; font-size: 11px; font-family: Noto Sans; font-weight: 700; word-wrap: break-word">Queenstown</div>
    <div style="left: 824px; top: 41px; position: absolute; color: #5495A5; font-size: 11px; font-family: Noto Sans; font-weight: 700; word-wrap: break-word">Nelson</div>
    <div style="left: 824px; top: 79px; position: absolute; color: #5495A5; font-size: 11px; font-family: Noto Sans; font-weight: 700; word-wrap: break-word">Blenheim</div>
    <div style="left: 824px; top: 117px; position: absolute; color: #5495A5; font-size: 11px; font-family: Noto Sans; font-weight: 700; word-wrap: break-word">Christchurch</div>
    <div style="left: 824px; top: 155px; position: absolute; color: #5495A5; font-size: 11px; font-family: Noto Sans; font-weight: 700; word-wrap: break-word">Wanaka</div>
    <div style="left: 824px; top: 193px; position: absolute; color: #5495A5; font-size: 11px; font-family: Noto Sans; font-weight: 700; word-wrap: break-word">Queenstown</div>

    <!--North Island Listings-->
    <div style="left: 559px; top: 0px; position: absolute; color: #3B6974; font-size: 13px; font-family: Noto Sans; font-weight: 700; word-wrap: break-word">North Island sales</div>
    <div style="left: 560px; top: 41px; position: absolute; color: #5495A5; font-size: 11px; font-family: Noto Sans; font-weight: 700; word-wrap: break-word">Auckland</div>
    <div style="left: 560px; top: 79px; position: absolute; color: #5495A5; font-size: 11px; font-family: Noto Sans; font-weight: 700; word-wrap: break-word">Hamilton</div>
    <div style="left: 560px; top: 117px; position: absolute; color: #5495A5; font-size: 11px; font-family: Noto Sans; font-weight: 700; word-wrap: break-word">Tauranga</div>
    <div style="left: 560px; top: 155px; position: absolute; color: #5495A5; font-size: 11px; font-family: Noto Sans; font-weight: 700; word-wrap: break-word">Taupo</div>
    <div style="left: 560px; top: 193px; position: absolute; color: #5495A5; font-size: 11px; font-family: Noto Sans; font-weight: 700; word-wrap: break-word">Wellington</div>
    <div style="left: 824px; top: 0px; position: absolute; color: #3B6974; font-size: 13px; font-family: Noto Sans; font-weight: 700; word-wrap: break-word">North Island sales</div>
    </a>
    </div>

    <img style="width: 110px; height: 40px; left: 20px; top: 6px; position: absolute" src= "{{url_for ('static', filename='renzlogo.png')}}" />
    <img style="width: 1728px; height: 250px; left: 0px; top: 51px; position: absolute" src="{{url_for('static', filename='renzhouse.png')}}" />
    <img style="width: 187px; height: 600px; left: 1472px; top: 477px; position: absolute" src="{{url_for('static', filename='addbanner.png')}}" />
    </div>
    
  
    <img style="width: 741px; height: 115px; left: 470px; top: 1700px; position: absolute" src="{{url_for('static', filename='addbanner2.png')}}" />
    <div style="width: 16px; height: 16px; left: 1412px; top: 19px; position: absolute">
    <div style="width: 14.67px; height: 13.33px; left: 0.67px; top: 0.67px; position: absolute; border: 1.50px #396874 solid"></div>
    </div>
    <div style="width: 16px; height: 16px; left: 1509px; top: 19px; position: absolute">
    <div style="width: 16px; height: 16px; left: 0px; top: 0px; position: absolute">
    <div style="width: 12px; height: 13.45px; left: 2px; top: 1.33px; position: absolute; border: 1.50px #396874 solid"></div>
    </div>
    <div style="width: 4px; height: 5.33px; left: 6px; top: 9.33px; position: absolute; border-radius: 1px; border: 1.50px #396874 solid"></div>
    </div>

    <!--For Sale Property Photo's-->
    <div style="width: 202px; height: 164px; left: 632px; top: 841px; position: absolute">
    <div style="left: 0px; top: 132px; position: absolute; color: black; font-size: 11px; font-family: Noto Sans; font-weight: 700; word-wrap: break-word">To be sold by auction on...</div>
    <div style="left: 0px; top: 153px; position: absolute; color: black; font-size: 8px; font-family: Noto Sans; font-weight: 500; word-wrap: break-word">1/23 Ashwell Street, Saint Heliers</div>
    <div style="left: 155px; top: 153px; position: absolute; text-align: right; color: black; font-size: 8px; font-family: Noto Sans; font-weight: 500; word-wrap: break-word">30 Mar 2024</div>
    <img style="width: 202px; height: 123px; left: 0px; top: 0px; position: absolute" src="{{url_for('static', filename='property.png')}}" />
    <img style="width: 51px; height: 12px; left: 151px; top: 135px; position: absolute" src="{{url_for('static', filename='occupants.png')}}" />
    <div style="width: 16px; height: 16px; left: 181px; top: 3px; position: absolute">
    <div style="width: 14.67px; height: 13.33px; left: 0.67px; top: 0.67px; position: absolute; background: #FF5656; box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.10) inset"></div>
    </div>
    </div>

    <div style="width: 100%; height: 100%; position: relative; background: white">
    
        <!-- For Sale Property Divs -->
        <div style="width: 202px; height: 164px; left: 385px; top: 841px; position: absolute">
            <a href="/detail">
                <img style="width: 202px; height: 123px; left: 0px; top: 0px; position: absolute" src="{{url_for('static', filename='property.png')}}" />
                <img style="width: 51px; height: 12px; left: 151px; top: 135px; position: absolute" src="{{url_for('static', filename='occupants.png')}}" />
            </a>
            <div style="left: 0px; top: 132px; position: absolute; color: black; font-size: 11px; font-family: Noto Sans; font-weight: 700; word-wrap: break-word">To be sold by auction on...</div>
            <div style="left: 0px; top: 153px; position: absolute; color: black; font-size: 8px; font-family: Noto Sans; font-weight: 500; word-wrap: break-word">1/23 Ashwell Street, Saint Heliers</div>
            <div style="left: 155px; top: 153px; position: absolute; text-align: right; color: black; font-size: 8px; font-family: Noto Sans; font-weight: 500; word-wrap: break-word">30 Mar 2024</div>
        </div>
    
        <div style="width: 202px; height: 164px; left: 1126px; top: 841px; position: absolute">
            <a href="/detail">
                <img style="width: 202px; height: 123px; left: 0px; top: 0px; position: absolute" src="{{url_for('static', filename='property.png')}}" />
                <img style="width: 51px; height: 12px; left: 151px; top: 135px; position: absolute" src="{{url_for('static', filename='occupants.png')}}" />
            </a>
            <div style="left: 0px; top: 132px; position: absolute; color: black; font-size: 11px; font-family: Noto Sans; font-weight: 700; word-wrap: break-word">To be sold by auction on...</div>
            <div style="left: 0px; top: 153px; position: absolute; color: black; font-size: 8px; font-family: Noto Sans; font-weight: 500; word-wrap: break-word">1/23 Ashwell Street, Saint Heliers</div>
            <div style="left: 155px; top: 153px; position: absolute; text-align: right; color: black; font-size: 8px; font-family: Noto Sans; font-weight: 500; word-wrap: break-word">30 Mar 2024</div>
        </div>
    
        <div style="width: 202px; height: 164px; left: 879px; top: 841px; position: absolute">
            <a href="/detail">
                <img style="width: 202px; height: 123px; left: 0px; top: 0px; position: absolute" src="{{url_for('static', filename='property.png')}}" />
                <img style="width: 51px; height: 12px; left: 151px; top: 135px; position: absolute" src="{{url_for('static', filename='occupants.png')}}" />
            </a>
            <div style="left: 0px; top: 132px; position: absolute; color: black; font-size: 11px; font-family: Noto Sans; font-weight: 700; word-wrap: break-word">To be sold by auction on...</div>
            <div style="left: 0px; top: 153px; position: absolute; color: black; font-size: 8px; font-family: Noto Sans; font-weight: 500; word-wrap: break-word">1/23 Ashwell Street, Saint Heliers</div>
            <div style="left: 155px; top: 153px; position: absolute; text-align: right; color: black; font-size: 8px; font-family: Noto Sans; font-weight: 500; word-wrap: break-word">30 Mar 2024</div>
        </div>
    
        <div style="width: 202px; height: 164px; left: 632px; top: 1098px; position: absolute">
            <a href="/detail">
                <img style="width: 202px; height: 123px; left: 0px; top: 0px; position: absolute" src="{{url_for('static', filename='property.png')}}" />
                <img style="width: 51px; height: 12px; left: 151px; top: 135px; position: absolute" src="{{url_for('static', filename='occupants.png')}}" />
            </a>
            <div style="left: 0px; top: 132px; position: absolute; color: black; font-size: 11px; font-family: Noto Sans; font-weight: 700; word-wrap: break-word">To be sold by auction on...</div>
            <div style="left: 0px; top: 153px; position: absolute; color: black; font-size: 8px; font-family: Noto Sans; font-weight: 500; word-wrap: break-word">1/23 Ashwell Street, Saint Heliers</div>
            <div style="left: 155px; top: 153px; position: absolute; text-align: right; color: black; font-size: 8px; font-family: Noto Sans; font-weight: 500; word-wrap: break-word">30 Mar 2024</div>
        </div>
    </div>


        <!--Bottom Display of photo's which navigate you to the Home inspiration Page-->
        <a href="/homeinspiration" style="text-decoration: none;">
        <img style="width: 200px; height: 250px; left: 385px; top: 1367px; position: absolute" src="{{url_for ('static', filename='bedroom4.png')}}">
        </a>

        <a href="/homeinspiration" style="text-decoration: none;">
        <img style="width: 200px; height: 250px; left: 630px; top: 1367px; position: absolute" src="{{url_for('static', filename='kitchen.png')}}" />
        </a>

        <a href="/homeinspiration" style="text-decoration: none;">
        <img style="width: 200px; height: 250px; left: 880px; top: 1367px; position: absolute" src="{{url_for ('static', filename='lounge2.png')}}" />
        </a>

        <img style="width: 200px; height: 250px; left: 1127px; top: 1367px; position: absolute" src="{{url_for('static', filename='studyroom.png')}}" />

        <!--Adding in the Other Top Sale Box's-->

        <a href="/detail" style="text-decoration: none;">
        <div style="width: 202px; height: 111px; left: 385px; top: 662px; position: absolute">
        <div style="width: 202px; height: 111px; left: 0px; top: 0px; position: absolute; box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.10); border-radius: 5px; border: 1px #5495A5 solid"></div>
        <div style="left: 12px; top: 9px; position: absolute; color: #00CFFF; font-size: 12px; font-family: Noto Sans; font-weight: 500; word-wrap: break-word">Auckland</div>
        <div style="left: 12px; top: 34px; position: absolute; color: #00CFFF; font-size: 12px; font-family: Noto Sans; font-weight: 500; word-wrap: break-word">Residentioal - Sale</div>
        <div style="width: 24px; height: 24px; left: 169px; top: 81px; position: absolute">
        </div>
        <div style="width: 16px; height: 16px; left: 12px; top: 85px; position: absolute">
        <img style="width: 14.67px; height: 13.33px; left: 0.67px; top: 0.67px; position: absolute" src="{{url_for ('static', filename='blueheart.png')}}">
        </div>
        </div>
        </a>

        <a href="/detail" style="text-decoration: none;">
        <div style="width: 202px; height: 111px; left: 882px; top: 662px; position: absolute">
            <div style="width: 202px; height: 111px; left: 0px; top: 0px; position: absolute; box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.10); border-radius: 5px; border: 1px #5495A5 solid"></div>
            <div style="left: 12px; top: 9px; position: absolute; color: #00CFFF; font-size: 12px; font-family: Noto Sans; font-weight: 500; word-wrap: break-word">Hamilton</div>
            <div style="left: 12px; top: 34px; position: absolute; color: #00CFFF; font-size: 12px; font-family: Noto Sans; font-weight: 500; word-wrap: break-word">Residentioal - Sale</div>
            <div style="width: 16px; height: 16px; left: 12px; top: 85px; position: absolute">
            <img style="width: 14.67px; height: 13.33px; left: 0.67px; top: 0.67px; position: absolute" src="{{url_for('static', filename='blueheart.png')}}" />
        </div>
        </a>

        <a href="/detail" style="text-decoration: none;">
        <div style="width: 202px; height: 120px; left: 240px; top: 1px; position: absolute">
            <div style="width: 202px; height: 111px; left: 0px; top: 0px; position: absolute; box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.10); border-radius: 5px; border: 1px #5495A5 solid"></div>
            <div style="left: 12px; top: 9px; position: absolute; color: #00CFFF; font-size: 12px; font-family: Noto Sans; font-weight: 500; word-wrap: break-word">NorthShore</div>
            <div style="left: 12px; top: 34px; position: absolute; color: #00CFFF; font-size: 12px; font-family: Noto Sans; font-weight: 500; word-wrap: break-word">Residentioal - Sale</div>
            <div style="width: 16px; height: 16px; left: 12px; top: 85px; position: absolute">
            <img style="width: 14.67px; height: 13.33px; left: 0.67px; top: 0.67px; position: absolute" src="{{url_for('static', filename='blueheart.png')}}" />

        </a>

        </div>
    </body>
</html>
