{% extends 'base.html' %}

{% blobk title %}Properties Details - RENZ{% endblock %}

{% block content %}
<h1>{{ property.title }}</h1>
<p>{{ property.description }}</p>
<p><strong>Price:</strong> {{ property.price }}</p>
<p><strong>Address:</strong> {{ property.address }}</p>
<ul>
    {% for feature in property.features %}
    <li> {{ feature }}</li>
    {% endfor %}
</ul>
<p><strong>{{ property.agent }}</strong></p>
<div>
    {% for image in property.images %}
    <img src="{{ url_for('static', filename='images/' ~ image) }}" alt="Property image">
    {% endfor %}
</div>
{% endblock %}