<!DOCTYPE html>
<html>
<div style="width: 100%; height: 100%; position: relative; background: white">
    <img style="width: 989px; height: 1066px; left: 739px; top: 51px; position: absolute" src="{{ url_for('static', filename='map.png')}}" />

    <a href="/" style="text-decoration: none;">
        <div style="left: 210px; top: 18px; position: absolute; color: #5495A5; font-size: 13px; font-family: Noto Sans; font-weight: 700; word-wrap: break-word">Residential</div>
    </a>
    <a href="/search" style="text-decoration: none;">
        <div style="left: 326px; top: 18px; position: absolute; color: #5495A5; font-size: 13px; font-family: Noto Sans; font-weight: 700; word-wrap: break-word">New Build</div>
    </a>
    <a href="/search" style="text-decoration: none;">
        <div style="left: 435px; top: 18px; position: absolute; color: #5495A5; font-size: 13px; font-family: Noto Sans; font-weight: 700; word-wrap: break-word">Rural</div>
    </a>
    <a href="/search" style="text-decoration: none;">
        <div style="left: 513px; top: 18px; position: absolute; color: #5495A5; font-size: 13px; font-family: Noto Sans; font-weight: 700; word-wrap: break-word">Commercial</div>
    </a>
    <a href="/search" style="text-decoration: none;">
        <div style="left: 634px; top: 18px; position: absolute; color: #5495A5; font-size: 13px; font-family: Noto Sans; font-weight: 700; word-wrap: break-word">Business</div>
    </a>
    <a href="/search" style="text-decoration: none;">
        <div style="left: 734px; top: 18px; position: absolute; color: #5495A5; font-size: 13px; font-family: Noto Sans; font-weight: 700; word-wrap: break-word">House Price</div>
    </a>
    <a href="/findagent" style="text-decoration: none;">
        <div style="left: 854px; top: 18px; position: absolute; color: #5495A5; font-size: 13px; font-family: Noto Sans; font-weight: 700; word-wrap: break-word">Find Agent</div>
    </a>
    <a href="/homeinspiration" style="text-decoration: none;">
        <div style="left: 968px; top: 18px; position: absolute; color: #5495A5; font-size: 13px; font-family: Noto Sans; font-weight: 700; word-wrap: break-word">Home Inspiration</div>
    </a>
    <a href="/news" style="text-decoration: none;">
        <div style="left: 1122px; top: 18px; position: absolute; color: #5495A5; font-size: 13px; font-family: Noto Sans; font-weight: 700; word-wrap: break-word">News</div>
    </a>
    <a href="/favorite" style="text-decoration: none;">
        <div style="left: 1433px; top: 18px; position: absolute; color: #5495A5; font-size: 13px; font-family: Noto Sans; font-weight: 700; word-wrap: break-word">Favorite<br/></div>
    </a>
    <a href="/myhome" style="text-decoration: none;">
        <div style="left: 1528px; top: 18px; position: absolute; color: #5495A5; font-size: 13px; font-family: Noto Sans; font-weight: 700; word-wrap: break-word">My Home</div>
    </a>
    <a href="/login_and_signup" style="text-decoration: none;">
        <div style="left: 1611px; top: 18px; position: absolute; color: #5495A5; font-size: 13px; font-family: Noto Sans; font-weight: 700; word-wrap: break-word">Log in / Sign up</div>
    </a>

    <img style="width: 100px; height: 40px; left: 11px; top: 6px; position: absolute" src="{{ url_for('static', filename='renzlogo.png') }}" />
    

    <div style="width: 16px; height: 16px; left: 1412px; top: 19px; position: absolute">
        <div style="width: 14.67px; height: 13.33px; left: 0.67px; top: 0.67px; position: absolute; border: 1.50px #396874 solid" src="{{url_for('static', filename='favorite_light.png')}}"></div>

    </div>
    <div style="width: 16px; height: 16px; left: 1509px; top: 19px; position: absolute">
        <div style="width: 16px; height: 16px; left: 0px; top: 0px; position: absolute">
            <div style="width: 12px; height: 13.45px; left: 2px; top: 1.33px; position: absolute; border: 1.50px #396874 solid"></div>
        </div>
        <div style="width: 4px; height: 5.33px; left: 6px; top: 9.33px; position: absolute; border-radius: 1px; border: 1.50px #396874 solid"></div>
    </div>

    <div style="width: 712px; height: 92px; left: 11px; top: 59px; position: absolute">
    <div style="width: 712px; height: 92px; left: 0px; top: 0px; position: absolute; box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.10); border-radius: 8px; border: 1px #5495A5 solid"></div>
    
    <div style="width: 437px; height: 31px; left: 13px; top: 47px; position: absolute; border-radius: 5px; border: 1px #5495A5 solid">
        <input type="text" placeholder="Search by address, suburb or city" style="width: 100%; height: 100%; border: none; border-radius: 5px; padding: 0 10px; font-size: 12px; font-family: Noto Sans;" />
    </div>
    
    <div style="width: 114px; height: 33px; left: 461px; top: 46px; position: absolute; border-radius: 5px; border: 1px #5495A5 solid">
        <a href="/detail"></a><button style="width: 100%; height: 100%; border: none; border-radius: 5px; font-size: 12px; font-family: Noto Sans; background-color: white;">Filter</button>
    </div>
    
    <div style="width: 114px; height: 33px; left: 585px; top: 46px; position: absolute; border-radius: 5px; border: 1px #5495A5 solid">
        <button style="width: 100%; height: 100%; border: none; border-radius: 5px; font-size: 12px; font-family: Noto Sans; background-color: white;">Search</button>
    </div>
    
    <div style="left: 122px; top: 10px; position: absolute; color: black; font-size: 12px; font-family: Noto Sans; font-weight: 500; word-wrap: break-word">
        <button style="border: none; background: none; font-size: 12px; font-family: Noto Sans; font-weight: 500;">Buy</button>
    </div>
    
    <div style="left: 545px; top: 10px; position: absolute; color: black; font-size: 12px; font-family: Noto Sans; font-weight: 500; word-wrap: break-word">
        <button style="border: none; background: none; font-size: 12px; font-family: Noto Sans; font-weight: 500;">Valuation</button>
    </div>
    
    <div style="left: 331px; top: 10px; position: absolute; color: black; font-size: 12px; font-family: Noto Sans; font-weight: 500; word-wrap: break-word">
        <button style="border: none; background: none; font-size: 12px; font-family: Noto Sans; font-weight: 500;">Rent</button>
    </div>
    
    <div style="width: 712px; height: 0px; left: 0px; top: 38px; position: absolute; border: 1px #5495A5 solid"></div>
</div>


    <!--Following Interactable Property Images -->
    <!--Interactable Images which leads you to the Direct Page-->
    <div style="width: 344px; height: 279.29px; left: 11px; top: 200px; position: absolute">
        <div style="width: 240.12px; height: 25.54px; left: 0px; top: 224.79px; position: absolute; color: black; font-size: 11px; font-family: Noto Sans; font-weight: 700; word-wrap: break-word">To be sold by auction on...</div>
        <div style="width: 214.57px; height: 18.73px; left: 0px; top: 260.55px; position: absolute; color: black; font-size: 8px; font-family: Noto Sans; font-weight: 500; word-wrap: break-word">1/23 Ashwell Street, Saint Heliers</div>
        <div style="width: 80.04px; height: 18.73px; left: 263.96px; top: 260.55px; position: absolute; text-align: right; color: black; font-size: 8px; font-family: Noto Sans; font-weight: 500; word-wrap: break-word">30 Mar 2024</div>
        
        <!--Navigating to the Details Page-->
        <a href="/detail"><img style="width: 344px; height: 209.47px; left: 0px; top: 0px; position: absolute" src="{{url_for ('static', filename='property.png')}}" /></a>
        <a href="/detail"><img style="width: 86.85px; height: 20.44px; left: 257.15px; top: 229.90px; position: absolute" src="{{url_for ('static', filename='occupants.png')}}" /></a>
       
       <!--Favorite Icon-->
        <div style="width: 27.25px; height: 27.25px; left: 308.24px; top: 5.11px; position: absolute">
            <div style="width: 24.98px; height: 22.71px; left: 1.14px; top: 1.14px; position: absolute; border: 1.50px #396874 solid"></div>
        </div>
    </div>
    
    <div style="width: 344px; height: 279.29px; left: 379px; top: 200px; position: absolute">
        <div style="width: 240.12px; height: 25.54px; left: 0px; top: 224.79px; position: absolute; color: black; font-size: 11px; font-family: Noto Sans; font-weight: 700; word-wrap: break-word">To be sold by auction on...</div>
        <div style="width: 214.57px; height: 18.73px; left: 0px; top: 260.55px; position: absolute; color: black; font-size: 8px; font-family: Noto Sans; font-weight: 500; word-wrap: break-word">1/23 Ashwell Street, Saint Heliers</div>
        <div style="width: 80.04px; height: 18.73px; left: 263.96px; top: 260.55px; position: absolute; text-align: right; color: black; font-size: 8px; font-family: Noto Sans; font-weight: 500; word-wrap: break-word">30 Mar 2024</div>
        <a href="/detail"><img style="width: 344px; height: 209.47px; left: 0px; top: 0px; position: absolute" src="{{url_for ('static', filename='property.png')}}" /></a>
        <a href="/detail"><img style="width: 86.85px; height: 20.44px; left: 257.15px; top: 229.90px; position: absolute" src="{{url_for ('static', filename='occupants.png')}}" /></a>
        <div style="width: 27.25px; height: 27.25px; left: 308.24px; top: 5.11px; position: absolute"></div>

        <!--Favorite Icon-->
        <div style="width: 29px; height: 29px; left: 306px; top: 4px; position: absolute">
            <a href="/detail"><img style="width: 26.58px; height: 24.17px; left: 1.21px; top: 1.21px; position: absolute; box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.10) inset" src="{{url_for ('static', filename='favoriteheart.png')}}"></a>
            <div style="width: 26.58px; height: 24.17px; left: 1.21px; top: 1.21px; position: absolute; box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.10) inset"></div>
        </div>
    </div>
    
    <div style="width: 344px; height: 279.29px; left: 11px; top: 504px; position: absolute">
        <div style="width: 240.12px; height: 25.54px; left: 0px; top: 224.79px; position: absolute; color: black; font-size: 11px; font-family: Noto Sans; font-weight: 700; word-wrap: break-word">To be sold by auction on...</div>
        <div style="width: 214.57px; height: 18.73px; left: 0px; top: 260.55px; position: absolute; color: black; font-size: 8px; font-family: Noto Sans; font-weight: 500; word-wrap: break-word">1/23 Ashwell Street, Saint Heliers</div>
        <div style="width: 80.04px; height: 18.73px; left: 263.96px; top: 260.55px; position: absolute; text-align: right; color: black; font-size: 8px; font-family: Noto Sans; font-weight: 500; word-wrap: break-word">30 Mar 2024</div>
        <a href="/detail"><img style="width: 344px; height: 209.47px; left: 0px; top: 0px; position: absolute" src="{{url_for ('static', filename='property.png')}}" /></a>
        <a href="/detail"><img style="width: 86.85px; height: 20.44px; left: 257.15px; top: 229.90px; position: absolute" src="{{url_for ('static', filename='occupants.png')}}" /></a>
        
        <!--Favorite Icon-->
        <div style="width: 27.25px; height: 27.25px; left: 308.24px; top: 5.11px; position: absolute">
            <a href="/detail"><img style="width: 24.98px; height: 22.71px; left: 1.14px; top: 1.14px; position: absolute; border: 1.50px #396874 solid" src="{{url_for ('static', filename='favoriteheart.png')}}" /></a>
            <div style="width: 24.98px; height: 22.71px; left: 1.14px; top: 1.14px; position: absolute; border: 1.50px #396874 solid" ></div>
        </div>
    </div>
    
    <div style="width: 344px; height: 279.29px; left: 379px; top: 504px; position: absolute">
        <div style="width: 240.12px; height: 25.54px; left: 0px; top: 224.79px; position: absolute; color: black; font-size: 11px; font-family: Noto Sans; font-weight: 700; word-wrap: break-word">To be sold by auction on...</div>
        <div style="width: 214.57px; height: 18.73px; left: 0px; top: 260.55px; position: absolute; color: black; font-size: 8px; font-family: Noto Sans; font-weight: 500; word-wrap: break-word">1/23 Ashwell Street, Saint Heliers</div>
        <div style="width: 80.04px; height: 18.73px; left: 263.96px; top: 260.55px; position: absolute; text-align: right; color: black; font-size: 8px; font-family: Noto Sans; font-weight: 500; word-wrap: break-word">30 Mar 2024</div>
        <a href="/detail"><img style="width: 344px; height: 209.47px; left: 0px; top: 0px; position: absolute" src="{{url_for ('static', filename='property.png')}}" /></a>
        <a href="/detail"><img style="width: 86.85px; height: 20.44px; left: 257.15px; top: 229.90px; position: absolute" src="{{url_for ('static', filename='occupants.png')}}" /></a>

        <!--Favorite Icon-->
        <div style="width: 27.25px; height: 27.25px; left: 308.24px; top: 5.11px; position: absolute">
            <a href="/detail"><img style="width: 24.98px; height: 22.71px; left: 1.14px; top: 1.14px; position: absolute; border: 1.50px #396874 solid" src="{{url_for ('static', filename='favoriteheart.png')}}" /></a>
            <div style="width: 24.98px; height: 22.71px; left: 1.14px; top: 1.14px; position: absolute; border: 1.50px #396874 solid"></div>
        </div>
    </div>
    
    <div style="width: 344px; height: 279.29px; left: 11px; top: 868px; position: absolute">
        <div style="width: 240.12px; height: 25.54px; left: 0px; top: 224.79px; position: absolute; color: black; font-size: 11px; font-family: Noto Sans; font-weight: 700; word-wrap: break-word">To be sold by auction on...</div>
        <div style="width: 214.57px; height: 18.73px; left: 0px; top: 260.55px; position: absolute; color: black; font-size: 8px; font-family: Noto Sans; font-weight: 500; word-wrap: break-word">1/23 Ashwell Street, Saint Heliers</div>
        <div style="width: 80.04px; height: 18.73px; left: 263.96px; top: 260.55px; position: absolute; text-align: right; color: black; font-size: 8px; font-family: Noto Sans; font-weight: 500; word-wrap: break-word">30 Mar 2024</div>
        <a href="/detail"><img style="width: 344px; height: 209.47px; left: 0px; top: 0px; position: absolute" src="{{url_for ('static', filename='property.png')}}" /></a>
        <a href="/detail"><img style="width: 86.85px; height: 20.44px; left: 257.15px; top: 229.90px; position: absolute" src="{{url_for ('static', filename='occupants.png')}}" /></a>

        <!--Favorite Icon-->
        <div style="width: 27.25px; height: 27.25px; left: 308.24px; top: 5.11px; position: absolute">
            <a href="/detail"><img style="width: 24.98px; height: 22.71px; left: 1.14px; top: 1.14px; position: absolute; border: 1.50px #396874 solid" src="{{url_for ('static', filename='favoriteheart.png')}}" /></a>
            <div style="width: 24.98px; height: 22.71px; left: 1.14px; top: 1.14px; position: absolute; border: 1.50px #396874 solid"></div>
        </div>
    </div>
    
    <div style="width: 344px; height: 279.29px; left: 379px; top: 868px; position: absolute">
        <div style="width: 240.12px; height: 25.54px; left: 0px; top: 224.79px; position: absolute; color: black; font-size: 11px; font-family: Noto Sans; font-weight: 700; word-wrap: break-word">To be sold by auction on...</div>
        <div style="width: 214.57px; height: 18.73px; left: 0px; top: 260.55px; position: absolute; color: black; font-size: 8px; font-family: Noto Sans; font-weight: 500; word-wrap: break-word">1/23 Ashwell Street, Saint Heliers</div>
        <div style="width: 80.04px; height: 18.73px; left: 263.96px; top: 260.55px; position: absolute; text-align: right; color: black; font-size: 8px; font-family: Noto Sans; font-weight: 500; word-wrap: break-word">30 Mar 2024</div>
        
        <!--Navigating to the Details Page-->
        <a href="/detail"><img style="width: 344px; height: 209.47px; left: 0px; top: 0px; position: absolute" src="{{url_for ('static', filename='property.png')}}" /></a>
        <a href="/detail "><img style="width: 86.85px; height: 20.44px; left: 257.15px; top: 229.90px; position: absolute" src="{{url_for ('static', filename='occupants.png')}}" /></a>
        
        <!--Favorite Icon-->
        <div style="width: 27.25px; height: 27.25px; left: 308.24px; top: 5.11px; position: absolute">
            <a href="/detail"><img style="width: 24.98px; height: 22.71px; left: 1.14px; top: 1.14px; position: absolute; border: 1.50px #396874 solid" src="{{url_for ('static', filename='favoriteheart.png')}}" /></a>
            <div style="width: 24.98px; height: 22.71px; left: 1.14px; top: 1.14px; position: absolute; border: 1.50px #396874 solid"></div>
        </div>
    </div>
    
    <div style="left: 16px; top: 170px; position: absolute; color: black; font-size: 16px; font-family: Noto Sans; font-weight: 500; word-wrap: break-word">For Sale</div>
    <div style="left: 16px; top: 837px; position: absolute; color: black; font-size: 16px; font-family: Noto Sans; font-weight: 500; word-wrap: break-word">For Rent</div>
    </div>
    

</div>
</html>
